.login-page h2 {
    letter-spacing: 1.5px;
}


.login-page .form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
}


.login-page .form-control::placeholder {
    opacity: 0.6;
    font-style: italic;
}