/* Kurzor pointer pre interaktívne karty kníh */
.home-page .card {
    cursor: pointer;
}

/* Vylepšený efekt tieňa pri hover pre karty kníh */
.home-page .card:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25) !important;
}