.text-muted {
    color: #888888 !important;
}


.card-body {
    background-color: white;
}


.card-header {
    background-color: #e7f3ff;
    font-weight: bold;
}


.btn {
    font-size: 17px;
}


.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}


.form-label {
    color: #333333;
    font-weight: 600;
}


.form-control {
    border: 2px solid #ced4da;
}


.alert-danger {
    background-color: #ffe6e6;
}


.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}


.card-body {
    border-radius: 12px;
}